$project-container-color: #1f2245; //#003186;
$project-text-color: #ffffff;
$link_color: #ffffff;
$link_visited_color: #ff0000;
$tag_text_color: #a90000;
$tag_bg_color: #cfcacd;
$project_height: 20em;
$project_width: 22em;
$project_section_height: $project_height / 3;
$project_section_divider: 1px solid #ffffff;
$tag_width: $project_width / 4;
$tag_font_size: 0.8em;

.projectDisplay {
    width: 100vw;
    display: inline-flex;
    padding-left: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3em;

}

.project {
  flex-shrink: 2;
  border: 1px solid black;
  border-radius: 25px;
  width: $project_width;
  min-height: $project_height;
  background-color: $project-container-color;
  color: $project-text-color;
  padding: 0.25em;
  margin-right: 30px;
  #section1, #section2 {
      border-bottom: $project_section_divider;
  }
  #section1, #section2, #section3 {
      height: $project_section_height;
      width: $project_width;
      margin: 0 auto;
  }
  #section1 {
      justify-content: center;
      #title {
        font-weight: bold;
        text-align: center;
        font-size: 1.2em;
      }
      #time {
        text-decoration: italic;
        font-size: 0.8em;
        opacity: 0.8;
        margin: 0;
        float: right;
        width: 200px;
        text-align: center;
      }
      .p_link {
          color: $link_color;
          /*margin-right: auto;
          margin-left: 0;*/
          margin-left: 10px;
          float: left;
          position: relative;
          top: 0;
      }

      .p_link:visited {
          color: $link_visited_color;
      }
  }
  #section2 {
    overflow-wrap: break-word;
  }
  #section3 {
      max-width: $project_width;
      overflow-wrap: break-word;
      #tags {
        margin-right: 0.25em;
        display: inline-flex;
        align-items: center;
        width: $project_width;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .tag {
        color: $tag_text_color;
        background-color: $tag_bg_color;
        font-size: $tag_font_size;
        font-family: Helvetica;
        margin-right: 5px;
        margin-bottom: 0;
        margin-top: 0.25em;
        border: 1px solid black;
        width: $tag_width;
        text-align: center;
        border-radius: 1.5em;
        max-width: $tag_width * 0.9;
        overflow-wrap: break-word;
        padding: 0.5em;
      }
  }
}
